@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

body{
  font-family: "Noto Serif";
  color: #242424;
  background-color: #c0c0c0;
}
.App{
  max-width: 960px;
  margin: 0 auto;
}
.title h1{
  color: #242424;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: normal;
}
.title h1, .title p{
  text-align: center;
}

.title p {
  font-size: 1.2rem;
}